.navbar.navbar-light.navbar-expand-lg
  .container

    .row.align-items-end
      a.navbar-brand(href='/')
        //i.fas.fa-cube
        //i(data-feather='terminal')
        | IQmafia
        footer.small.text-muted University of Waterloo
      //.align-self-end.col.text-center
        p.small.text-muted
          | University of Waterloo


    ul.nav.navbar-nav
      //li.nav-item(style='margin-right: 12px;')
        a.btn.btn-sm.btn-outline-primary(href='/signup') Sign Up
      li.nav-item
        a.btn.btn-sm.btn-outline-primary(href='/postJob') Post a Job
